[core]
	excludesfile = /Users/mgatto/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Michael Gatto
	email = 
[commit]
	template = /Users/mgatto/.stCommitMsg
[mergetool]
	keepBackup = true
[color]
	ui = auto
